[Unit]
Description=PlayAmarantaStream
Wants=network.target
After=network-online.target

[Service]
Restart=always
RestartSecs=30
ExecStart=mplayer http://192.168.86.20:9001/example1.ogg

[Install]
WantedBy=multi-user.target default.target

