casttube==0.2.1
certifi==2021.10.8
chardet==4.0.0
docutils==0.18
idna==3.3
ifaddr==0.1.7
keyboard==0.13.5
lockfile==0.12.2
protobuf==3.19.1
PyChromecast==9.3.1
requests==2.26.0
six==1.16.0
urllib3==1.26.7
zeroconf==0.36.12
