[Unit]
Description=Amaranta Record Script
Wants=network.target
After=network-online.target

[Service]
Restart=always
RestartSec=30
# Restarts the script every x seconds.
RuntimeMaxSec=600

Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/amaranta_record/myvenv/bin/python /home/pi/amaranta_record/main.py

[Install]
WantedBy=multi-user.target default.target
