[Unit]
Description=Amaranta Record Script
Wants=network.target
After=network-online.target

[Service]
Restart=always
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/amaranta_record/myvenv/bin/python /opt/amaranta_record/main.py

[Install]
WantedBy=multi-user.target default.target
